sudo: true

services:
  - docker

before_install:
  - docker build -t shyd/php:fpm -f Dockerfile.fpm .
  - docker tag shyd/php:fpm shyd/php:latest
  - docker build -t shyd/php:7-fpm -f Dockerfile.7-fpm .
  - docker build -t shyd/php:5-fpm -f Dockerfile.5-fpm .

script:
  - docker run -d --name php shyd/php:latest

after_script:
  - sudo docker kill $(docker ps -q);
  - sudo docker rm $(docker ps -aq);
  - sudo docker rmi $(docker images -q);

#after_success:
#  - docker login -u $DOCKER_USER -p $DOCKER_PASS
#  - docker push shyd/php